<h1>About The Authors</h1>

<div>

    <div>
        <h2>Raymond Doyle</h2>
        <img src="./Client/static/Raymond.jpeg" alt="Raymond's Photo">
        <p>I am a second year at Durham College for computer programming and analysis and I have a passion for motorcycles.</p>
    </div>

    <div>
        <h2>Terry </h2>
        <img src="./Client/static/terry.jpeg" alt="Terry's Photo">
        <p>I am a second year at Durham College for computer programming and analysis and I have a passion for video games</p>
    </div>

</div>
