<h1 id="welcome"><i class="fa-solid fa-house"></i> WEBD6201 Lab 4 Homepage</h1>
<h3>Welcome to our Lab 4 page. The goal of this assignment is to display the skills we have learned throughout our 14 weeks within the WEBD 6201 course.</h3>

<h4>To explore more about Raymond and Terry please follow this link. <a href="/about">About the Authors.</a></h4>