<h1 id="welcome"><i class="fa-solid fa-bag-shopping"></i> WEBD6201 Projects</h1>

<h1>Project #1 - Brick Breaker</h1>
<img src="brickBreaker.jpg" alt="Brick Breaker Example">
<p>In high school I created a replica to brick breaker with levels, hit detection, and lives. This project allowed me to become familiar loops, image creation, and many basic coding practices in an interesting way.</p>

<h1>Project #2 - Connect 4 A.I.</h1>
<img src="AI.jpg" alt="AI Photo">
<p>Within a grade 12 final project we were tasked with coding a A.I. for a connect 4 game that the prof provided. This game taught us about the power of recursions and how to efficiently write if conditions.</p>

<h1>Project #3 - Duck Hunt</h1>
<img src="duckhunt.jpg" alt="Duck Hunt Game">
<p>I created a Duck Hunt game using python (pygame lib) which allow the user to shoot the ducks moving randomly on the screen and stack up points</p>
