<h1>Our skills and services</h1>
<p>As Computer Programming Student me and terry have developed our databasing skills, front-end and back-end website development skills, and we have expanded our problem solving skills. </p>
<p>As we gain experience we plan to develop and create new and efficient applications towards a better tomorrow.</p>